* {
    margin: 0;
    padding: 0;
    transition: 0.5s;
    overflow-x: hidden;
    font-family: "Courier New", Courier, monospace;
}
button{
    border: none;
    cursor: pointer;
}
button:focus{
    outline: none;
}
li{
    list-style: none;
    margin-top: 5px;
}
li:hover{
    transform: translateX(10px);
}
a{
    text-decoration: none;
}

.underLine{
    text-decoration: underline;
}
.bold{
    font-weight: bold;
}
.bgc_pink{
    background-color: rgb(253, 199, 235);
}