aside{
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    overflow: scroll;
}
.aside--btn{
    background-color: #fff;
    border-radius: 50px;
    position: relative;
    top: 10px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-image: url(../image/moon.png);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center center;
}
aside button img{
    width: 150px;
}
nav{
    width:auto;
    height: auto;
    position: absolute;
    font-size: 14px;
    padding: 0 20px;
    margin-bottom: 20px;
}
.nav__title{
    font-weight: bold;
    margin-top: 20px;
}
footer{
    width: 100%;
}
footer > p{
    background-color: pink;
}
main{
    position: absolute;
    right: 0;
    width: 85%;
    height: 100%;
}
.banner{
    position: relative;
    font-weight: bold;
    top:0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner h2{
    font-size: 300px;
    line-height: 1;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image:url(../image/img.jpg);
    background-attachment: fixed;
    overflow-y: hidden;
}
.banner span{
    font-size: 26px;
}
.section__title{
    height: 10%;
    justify-content: left;
    padding-left: 50px;
}
.section__title h3{
    font-size: 50px;
    text-transform: uppercase;
}
.section--main{
    display: flex;
    flex-direction: row;
    padding: 50px 30px;
}
.section__main_text{
    width: 40%;
    font-size: 18px;
}
.commingSoon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    padding: 0;
}
.commingSoon > .section__main_text{
    text-align: center;
}
p[class=section__main_text]{
    background-color: red;
}
.section__main_gallery{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(4,auto);
    grid-gap: 10px;
    justify-content: center;
    width: 60%;
}
.section__main_gallery__img{
    overflow: hidden;
    border-radius: 10px;
}
.section__main_gallery img{
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
}
.section__main_gallery img:hover{
    transform: scale(1.05);
}
.section__main_gallery__img:first-of-type{
    grid-column: 1/3;
    grid-row: 1/2;
}
.section__main_gallery__img:nth-of-type(2){
    grid-column: 1/2;
    grid-row: 2/5;
}
.section__main_gallery__img:nth-of-type(3){
    grid-column: 2/3;
    grid-row: 2/3;
}
.section__main_gallery__img:last-of-type{
    grid-column: 2/3;
    grid-row: 3/4;
}

.section__gallery{
    justify-content: left;
    align-items: flex-start;
    padding: 15px;
}
.gallery__column{
    column-width: auto;
    column-gap: 15px;
}
.gallery__column figure{
    display: inline-block;
    border: 1px solid rgba(0, 0,0, 0.2);
    margin: 0;
    margin-bottom: 15px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.gallery__column figure img{
    width: 100%;
}
.gallery__column figure figcaption{
    border-top: 1px solid rgba(0,0,0,0.2);
    padding:10px;
}