aside{
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    background-color: #bbb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: scroll;
}
aside button{
    margin-top: 150px;
}
aside button img{
    width: 150px;
}
nav{
    font-size: 14px;
    padding: 0 20px;
    margin-bottom: 20px;
}
.nav__title{
    font-weight: bold;
    margin-top: 20px;
}
main{
    position: absolute;
    right: 0;
    width: 85%;
    height: 100%;
}
.banner{
    position: relative;
    top:0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner span{
    font-size: 250px;
}
.section__main{
    display: flex;
    flex-direction: row;
    background-color: #f4f4f4f4;
    padding: 50px 30px;
}
.section__main_text{
    width: 40%;
    font-size: 18px;
}
.section__main_gallery{
    display: grid;
    grid-template-columns: repeat(2,400px);
    grid-template-rows: repeat(4,auto);
    grid-gap: 10px;
    justify-content: center;
    width: 60%;
}
.section__main_gallery img{
    width: 100%;
    border-radius: 10px;
}
.section__main_gallery img:first-child{
    grid-column: 1/3;
    grid-row: 1/2;
}
.section__main_gallery img:nth-child(2){
    grid-column: 1/2;
    grid-row: 2/4;
}
.section__main_gallery img:nth-child(3){
    grid-column: 2/3;
    grid-row: 2/3;
}
.section__main_gallery img:last-child{
    grid-column: 2/3;
    grid-row: 3/5
}