<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shin morae gallery</title>
    <link rel="stylesheet" href="../../../css/main.css">
    <link rel="stylesheet" href="../../../css/base.css">
</head>
<body>
    <aside>
        <button class="aside--btn">
        </button>
        <nav>
            <ul>
                <li class="nav__title"><a href="../../../index.html">Main</a></li>
            </ul>
            <ul>
                <li class="nav__title"><a href="../../about.html" >About</a></li>
            </ul>
            <ul>
                <li class="nav__title"><a href="../../default.html">Artwork</a></li>
                <ul>
                    <li><a href="../../commingSoon.html">2019</a></li>
                    <li><a href="../artwork/2018.html">2018</a></li>
                    <li><a href="../artwork/2017.html">2017</a></li>
                    <li><a href="../artwork/2016.html">2016</a></li>
                    <li><a href="../artwork/2015.html">2015</a></li>
                    <li><a href="../artwork/2014.html">2014</a></li>
                </ul>
            </ul>
            <ul>
                <li class="nav__title"><a href="../../default.html">Exhibition</a></li>
                <ul>
                    <li><a href="../../commingSoon.html">Shanghai Baby</a></li>
                    <li><a href="../../commingSoon.html">I DRAW</a></li>
                    <li><a href="./romance.html">ROMANCE PART II</a></li>
                    <li><a href="../../commingSoon.html">ロマンス2017</a></li>
                    <li><a href="./z.html">ㅈ.gif</a></li>
                    <li><a href="./bracket.html">bracket,blanket</a></li>
                    <li><a href="./48p.html">'48'p</a></li>
                </ul>
            </ul>
            <ul>
                <li class="nav__title"><a href="../../default.html">BOOKS</a></li>
                <ul>
                    <li><a href="../../commingSoon.html">Shinmorae art book(2018)</a></li>
                    <li><a href="../../commingSoon.html">ROMANCE ARTBOOK</a></li>
                    <li><a href="../../commingSoon.html">Midnight</a></li>
                    <li><a href="../../commingSoon.html">Egomusic</a></li>
                    <li><a href="../../commingSoon.html">Shinmorae art book(2014)</a></li>
                    <li><a href="../../commingSoon.html">Neoncake</a></li>
                </ul>
            </ul>
            <ul>
                <li class="nav__title"><a href="../../default.html">Collaboration</a></li>
                <ul>
                    <li><a href="../../commingSoon.html">SAMSUNG</a></li>
                    <li><a href="../../commingSoon.html">Daelim Museum</a></li>
                    <li><a href="../../commingSoon.html">Book cover</a></li>
                    <li><a href="../../commingSoon.html">Sulwhasoo</a></li>
                    <li><a href="../collaboration/aderError.html">Ader error</a></li>
                    <li><a href="../collaboration/dore.html">Dore dore</a></li>
                    <li><a href="../collaboration/hoegaarden.html">HOEGAARDEN</a></li>
                    <li><a href="../collaboration/puma.html">PUMA</a></li>
                    <li><a href="../collaboration/suran.html">Suran's 1+1=0</a></li>
                    <li><a href="../collaboration/sm.html">SM ent</a></li>
                    <li><a href="../../commingSoon.html">Urban research</a></li>
                    <li><a href="../collaboration/vogue.html">VOGUE</a></li>
                    <li><a href="../../commingSoon.html">and more</a></li>
                </ul>
            </ul>
            <footer>
                <p class="nav__title">MORAE(c)2014-2018</p>
            </footer>
        </nav>
    </aside>
    <main>
        <div class="banner section__title">
            <h3>exhibition - romance part II</h3>
        </div>
        <section class="section--main commingSoon section__gallery">
            <div class="gallery__column">
                <figure>
                    <img src="../../../image/Exhibition/romance/th-36_10.jpg" alt="sihnmorae-exhibition-img">
                    <figcaption>Shinmorae exhibition-romance drowing</figcaption>
                </figure>
                <figure>
                    <img src="../../../image/Exhibition/romance/th-36_11.jpg" alt="sihnmorae-exhibition-img">
                    <figcaption>Shinmorae exhibition-romance drowing</figcaption>
                </figure>
                <figure>
                    <img src="../../../image/Exhibition/romance/th-36_12.jpg" alt="sihnmorae-exhibition-img">
                    <figcaption>Shinmorae exhibition-romance drowing</figcaption>
                </figure>
                <figure>
                    <img src="../../../image/Exhibition/romance/th-36_13.jpg" alt="sihnmorae-exhibition-img">
                    <figcaption>Shinmorae exhibition-romance drowing</figcaption>
                </figure>
                <figure>
                    <img src="../../../image/Exhibition/romance/th-36_14.jpg" alt="sihnmorae-exhibition-img">
                    <figcaption>Shinmorae exhibition-romance drowing</figcaption>
                </figure>
                <figure>
                    <img src="../../../image/Exhibition/romance/th-36_15.jpg" alt="sihnmorae-exhibition-img">
                    <figcaption>Shinmorae exhibition-romance drowing</figcaption>
                </figure>
                <figure>
                    <img src="../../../image/Exhibition/romance/th-36_16.jpg" alt="sihnmorae-exhibition-img">
                    <figcaption>Shinmorae exhibition-romance drowing</figcaption>
                </figure>
                <figure>
                    <img src="../../../image/Exhibition/romance/th-36_17.jpg" alt="sihnmorae-exhibition-img">
                    <figcaption>Shinmorae exhibition-romance drowing</figcaption>
                </figure>
                <figure>
                    <img src="../../../image/Exhibition/romance/th-36_18.jpg" alt="sihnmorae-exhibition-img">
                    <figcaption>Shinmorae exhibition-romance drowing</figcaption>
                </figure>
                <figure>
                    <img src="../../../image/Exhibition/romance/th-36_1_v3.jpg" alt="sihnmorae-exhibition-img">
                    <figcaption>Shinmorae exhibition-romance drowing</figcaption>
                </figure>
                <figure>
                    <img src="../../../image/Exhibition/romance/th-36_20.jpg" alt="sihnmorae-exhibition-img">
                    <figcaption>Shinmorae exhibition-romance drowing</figcaption>
                </figure>
                <figure>
                    <img src="../../../image/Exhibition/romance/th-36_21.jpg" alt="sihnmorae-exhibition-img">
                    <figcaption>Shinmorae exhibition-romance drowing</figcaption>
                </figure>
                <figure>
                    <img src="../../../image/Exhibition/romance/th-36_22.jpg" alt="sihnmorae-exhibition-img">
                    <figcaption>Shinmorae exhibition-romance drowing</figcaption>
                </figure>
                <figure>
                    <img src="../../../image/Exhibition/romance/th-36_23.jpg" alt="sihnmorae-exhibition-img">
                    <figcaption>Shinmorae exhibition-romance drowing</figcaption>
                </figure>
                <figure>
                    <img src="../../../image/Exhibition/romance/th-36_24.jpg" alt="sihnmorae-exhibition-img">
                    <figcaption>Shinmorae exhibition-romance drowing</figcaption>
                </figure>
                <figure>
                    <img src="../../../image/Exhibition/romance/th-36_25.jpg" alt="sihnmorae-exhibition-img">
                    <figcaption>Shinmorae exhibition-romance drowing</figcaption>
                </figure>
                <figure>
                    <img src="../../../image/Exhibition/romance/th-36_2_v5.jpg" alt="sihnmorae-exhibition-img">
                    <figcaption>Shinmorae exhibition-romance drowing</figcaption>
                </figure>
                <figure>
                    <img src="../../../image/Exhibition/romance/th-36_3_v3.jpg" alt="sihnmorae-exhibition-img">
                    <figcaption>Shinmorae exhibition-romance drowing</figcaption>
                </figure>
                <figure>
                    <img src="../../../image/Exhibition/romance/th-36_4_v3.jpg" alt="sihnmorae-exhibition-img">
                    <figcaption>Shinmorae exhibition-romance drowing</figcaption>
                </figure>
                <figure>
                    <img src="../../../image/Exhibition/romance/th-36_5_v2.jpg" alt="sihnmorae-exhibition-img">
                    <figcaption>Shinmorae exhibition-romance drowing</figcaption>
                </figure>
                <figure>
                    <img src="../../../image/Exhibition/romance/th-36_6.jpg" alt="sihnmorae-exhibition-img">
                    <figcaption>Shinmorae exhibition-romance drowing</figcaption>
                </figure>
                <figure>
                    <img src="../../../image/Exhibition/romance/th-36_8.jpg" alt="sihnmorae-exhibition-img">
                    <figcaption>Shinmorae exhibition-romance drowing</figcaption>
                </figure>
                <figure>
                    <img src="../../../image/Exhibition/romance/th-36_9.jpg" alt="sihnmorae-exhibition-img">
                    <figcaption>Shinmorae exhibition-romance drowing</figcaption>
                </figure>
                <figure>
                    <img src="../../../image/Exhibition/romance/th-36_19 사본.jpg" alt="sihnmorae-exhibition-img">
                    <figcaption>Shinmorae exhibition-romance drowing</figcaption>
                </figure>
            </div>
        </section>
    </main>
    <script src="../../../js/darkMode.js"></script>
</body>
</html>