<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shin morae gallery</title>
    <link rel="stylesheet" href="../../../css/main.css">
    <link rel="stylesheet" href="../../../css/base.css">
</head>
<body>
    <aside>
        <button class="aside--btn">
        </button>
        <nav>
            <ul>
                <li class="nav__title"><a href="../../../index.html">Main</a></li>
            </ul>
            <ul>
                <li class="nav__title"><a href="../../about.html" >About</a></li>
            </ul>
            <ul>
                <li class="nav__title"><a href="../../default.html">Artwork</a></li>
                <ul>
                    <li><a href="../../commingSoon.html">2019</a></li>
                    <li><a href="../artwork/2018.html">2018</a></li>
                    <li><a href="../artwork/2017.html">2017</a></li>
                    <li><a href="../artwork/2016.html">2016</a></li>
                    <li><a href="../artwork/2015.html">2015</a></li>
                    <li><a href="../artwork/2014.html">2014</a></li>
                </ul>
            </ul>
            <ul>
                <li class="nav__title"><a href="../../default.html">Exhibition</a></li>
                <ul>
                    <li><a href="../../commingSoon.html">Shanghai Baby</a></li>
                    <li><a href="../../commingSoon.html">I DRAW</a></li>
                    <li><a href="../exhibition/romance.html">ROMANCE PART II</a></li>
                    <li><a href="../../commingSoon.html">ロマンス2017</a></li>
                    <li><a href="./z.html">ㅈ.gif</a></li>
                    <li><a href="../exhibition/bracket.html">bracket,blanket</a></li>
                    <li><a href="../exhibition/48p.html">'48'p</a></li>
                </ul>
            </ul>
            <ul>
                <li class="nav__title"><a href="../../default.html">BOOKS</a></li>
                <ul>
                    <li><a href="../../commingSoon.html">Shinmorae art book(2018)</a></li>
                    <li><a href="../../commingSoon.html">ROMANCE ARTBOOK</a></li>
                    <li><a href="../../commingSoon.html">Midnight</a></li>
                    <li><a href="../../commingSoon.html">Egomusic</a></li>
                    <li><a href="../../commingSoon.html">Shinmorae art book(2014)</a></li>
                    <li><a href="../../commingSoon.html">Neoncake</a></li>
                </ul>
            </ul>
            <ul>
                <li class="nav__title"><a href="../../default.html">Collaboration</a></li>
                <ul>
                    <li><a href="../../commingSoon.html">SAMSUNG</a></li>
                    <li><a href="../../commingSoon.html">Daelim Museum</a></li>
                    <li><a href="../../commingSoon.html">Book cover</a></li>
                    <li><a href="../../commingSoon.html">Sulwhasoo</a></li>
                    <li><a href="./aderError.html">Ader error</a></li>
                    <li><a href="./dore.html">Dore dore</a></li>
                    <li><a href="./hoegaarden.html">HOEGAARDEN</a></li>
                    <li><a href="./puma.html">PUMA</a></li>
                    <li><a href="./suran.html">Suran's 1+1=0</a></li>
                    <li><a href="./sm.html">SM ent</a></li>
                    <li><a href="../../commingSoon.html">Urban research</a></li>
                    <li><a href="./vogue.html">VOGUE</a></li>
                    <li><a href="../../commingSoon.html">and more</a></li>
                </ul>
            </ul>
            <footer>
                <p class="nav__title">MORAE(c)2014-2018</p>
            </footer>
        </nav>
    </aside>
    <main>
        <div class="banner section__title">
            <h3>collaboration - adder error</h3>
        </div>
        <section class="section--main commingSoon section__gallery">
            <div class="gallery__column">
                <figure>
                    <img src="../../../image/collaboration/aderError/th-24_1_beam.jpg" alt="sihnmorae-collaboration-img">
                    <figcaption>Shinmorae collaboration-aderError drowing</figcaption>
                </figure>
                <figure>
                    <img src="../../../image/collaboration/aderError/th-24_adererror08.jpg" alt="sihnmorae-collaboration-img">
                    <figcaption>Shinmorae collaboration-aderError drowing</figcaption>
                </figure>
                <figure>
                    <img src="../../../image/collaboration/aderError/th-24_adererror09.jpg" alt="sihnmorae-collaboration-img">
                    <figcaption>Shinmorae collaboration-aderError drowing</figcaption>
                </figure>
                <figure>
                    <img src="../../../image/collaboration/aderError/th-24_adererror10.jpg" alt="sihnmorae-collaboration-img">
                    <figcaption>Shinmorae collaboration-aderError drowing</figcaption>
                </figure>
                <figure>
                    <img src="../../../image/collaboration/aderError/th-24_adererror_11.jpg" alt="sihnmorae-collaboration-img">
                    <figcaption>Shinmorae collaboration-aderError drowing</figcaption>
                </figure>
                <figure>
                    <img src="../../../image/collaboration/aderError/th-24_adererror_2.jpg" alt="sihnmorae-collaboration-img">
                    <figcaption>Shinmorae collaboration-aderError drowing</figcaption>
                </figure>
                <figure>
                    <img src="../../../image/collaboration/aderError/th-24_adererror_3.jpg" alt="sihnmorae-collaboration-img">
                    <figcaption>Shinmorae collaboration-aderError drowing</figcaption>
                </figure>
                <figure>
                    <img src="../../../image/collaboration/aderError/th-24_adererror_4.jpg" alt="sihnmorae-collaboration-img">
                    <figcaption>Shinmorae collaboration-aderError drowing</figcaption>
                </figure>
                <figure>
                    <img src="../../../image/collaboration/aderError/th-24_adererror_5.jpg" alt="sihnmorae-collaboration-img">
                    <figcaption>Shinmorae collaboration-aderError drowing</figcaption>
                </figure>
                <figure>
                    <img src="../../../image/collaboration/aderError/th-24_adererror_6.jpg" alt="sihnmorae-collaboration-img">
                    <figcaption>Shinmorae collaboration-aderError drowing</figcaption>
                </figure>
                <figure>
                    <img src="../../../image/collaboration/aderError/th-24_adererror_7.jpg" alt="sihnmorae-collaboration-img">
                    <figcaption>Shinmorae collaboration-aderError drowing</figcaption>
                </figure>
            </div>
        </section>
    </main>
    <script src="../../../js/darkMode.js"></script>
</body>
</html>